.slide-prev-enter
  left -100%
.slide-prev-enter-active
  left 0
  transition all 0.5s

.slide-prev-exit
  left 0
.slide-prev-exit-active
  left 100%
  transition all 0.5s

.slide-next-enter
  left 100%
.slide-next-enter-active
  left 0
  transition all 0.5s

.slide-next-exit
  left 0
.slide-next-exit-active
  left -100%
  transition all 0.5s